.ig {
    height: 120px;
    width: 120px;
    background-position: 0px 0px;
    background-size: 5760px 120px;
}

.ig[data-action="snap"] {
    background-image: url('../images/infinity-gauntlet/thanos_snap.png');
}

.ig[data-action="time"] {
    display: none;
    background-image: url('../images/infinity-gauntlet/thanos_time.png');
}
